body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media print {
html,body {
	visibility: hidden;
	display: none; /* this code will hide whole pages */
}
}

div.Normal {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 0pt;
	margin-left: 0cm;
	line-height: 100%;
	font-size: 12pt;
	font-weight: normal;
	font-family: Arial, sans-serif;
	width: 1000px;
}

div.Sub {
	border: rgb(255,255,255) 1px solid;
	background-color: rgb(255,255,255);
	color: rgb(0,64,255);
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 12pt
}

iframe.pag {
	border: none;
	width: 100%;
}

iframe.ext {
	border: none;
	height: 4500px;
	width: 100%;
}

img {
	transition: -webkit-transform 0.25s ease;
	transition: transform 0.25s ease;
	pointer-events: none;
}

img:active {
	-webkit-transform: scale(2);
	transform: scale(2);
}

input.ButtonMain {
	cursor: pointer;
	border: rgb(255,255,255) 1px solid;
	background-color: rgb(255,255,255);
	color: rgb(0,0,0);
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 12pt
}
input.ButtonSub {
	cursor: pointer;
	border: rgb(255,255,255) 1px solid;
	background-color: rgb(255,255,255);
	color: rgb(0,64,255);
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 12pt
}
input.ButtonTab {
	cursor: pointer;
	white-space: normal;
	border: rgb(255,255,255) 1px solid;
	background-color: rgb(255,255,255);
	color: rgb(0,64,255);
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 12pt
}
input.panel {
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 18pt;
	width: 100%;
	padding: 1px 1px;
	margin: 0px 0;
	box-sizing: border-box;
	border: 2px solid red;
	border-radius: 4px;
}
#demo {
	margin:0 0 1em;
}

li.Normal {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 0pt;
	margin-left: 0cm;
	line-height: 100%;
	font-size: 12pt;
	font-weight: normal;
	font-family: Arial, sans-serif;
}

p.Normal {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 0pt;
	margin-left: 0cm;
	line-height: 100%;
	font-size: 12pt;
	font-weight: normal;
	font-family: Arial, sans-serif;
}
p.Bold {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 0pt;
	margin-left: 0cm;
	line-height: 100%;
	font-size: 12pt;
	font-weight: normal;
	font-family: Arial, sans-serif;
}

p.MsoListParagraph {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 0pt;
	margin-left: 0cm;
	line-height: 100%;
	font-size: 12pt;
	font-weight: normal;
	font-family: Arial, sans-serif;
}

span.Normal {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 0pt;
	margin-left: 0cm;
	line-height: 100%;
	font-size: 12pt;
	font-weight: normal;
	font-family: Arial, sans-serif;
}
span.Bold {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 0pt;
	margin-left: 0cm;
	line-height: 100%;
	font-size: 12pt;
	font-weight: normal;
	font-family: Arial, sans-serif;
}

table.MsoNormalTable {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 0pt;
	margin-left: 0cm;
	line-height: 100%;
	font-size: 12pt;
	font-weight: normal;
	font-family: Arial, sans-serif;
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.fraction {
	display: inline-block;
	vertical-align: middle; 
	margin: 0 0.2em 0.4ex;
	text-align: center;
}
.fraction > span {
	display: block;
	padding-top: 0.15em;
}
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}
.yui3-dial-value-string {visibility: hidden;}
.yui3-dial-north-mark {visibility: hidden;}